@charset 'utf-8';

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  gap: 50px;
}
.wrap img {
  cursor: pointer;
}

body::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.4s;

  /* 마우스의 이벤트와 상관없는 존재로 만들기 */
  pointer-events: none;
  user-select: none;
}
body.active::before {
  opacity: 1;
}

.result {
  position: fixed; /* relative처럼 기준이 되어준다. */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 670px;
  height: 300px;
  /* border: 1px solid #f00; */

  /* 마우스의 이벤트와 상관없는 존재로 만들기 */
  pointer-events: none;
  user-select: none;
}
.result .result-box {
  position: absolute;
  top: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #fff;
  border: 10px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

body.active .result {
  pointer-events: auto;
  user-select: auto;
}
.result .result-box.result-user {
  left: -300%;
}
.result .result-box.result-com {
  right: -300%;
}
body.active .result .result-box.result-user {
  left: 0;
}
body.active .result .result-box.result-com {
  right: 0;
}
.result .result-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-360deg) scale(0.2);
  background: #f00;
  color: #fff;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 1.8rem;

  opacity: 0;
}
body.active .result .result-text {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(-10deg) scale(1);
  transition: 0.4s 0.5s;
}

.shake-vertical {
  -webkit-animation: shake-vertical 0.8s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-vertical 0.8s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
